.instructor-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid #28a745;
    padding: 3px;
}

.h-100{
    height: 100%;
}